<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Nơi khai báo chuỗi kết nối -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<!-- Dành cho TableAdapter hoặc ADO.NET thủ công -->
		<add name="SupermarketDB"
			 connectionString="Server=LAPTOP-B4GR4OKS;Database=SupermarketDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<!-- Dành cho Entity Framework -->
		<add name="SupermarketDBEntities"
			 connectionString="metadata=res://*/DB_layer.SupermarketDB.csdl|res://*/DB_layer.SupermarketDB.ssdl|res://*/DB_layer.SupermarketDB.msl;
                         provider=System.Data.SqlClient;
                         provider connection string=&quot;data source=LAPTOP-B4GR4OKS;
                                                    initial catalog=SupermarketDB;
                                                    integrated security=True;
                                                    trustservercertificate=True;
                                                    MultipleActiveResultSets=True;
                                                    App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>